.tablebodytext {
	display: none;
}

body {
	/* font-family: 'Pacifico', cursive; */
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #333333;
}

/*  HEADER */
.header {
	display: flex;
}

.header_logo {
	width: 117px;
}

.header_logo a {
	display: block;
}

.header_logo img {
	width: 100%;
}

.header_content {
	width: calc(100% - 117px - 190px);
}

.header_content .row span {
	font-family: 'Pacifico', cursive;
	color: #FF784E;
	font-size: 29px;
	padding: 20px 0px;
	display: block;
	text-align: center;
}

.header_content .row i {
	font-style: normal;
	color: #009CAE;
}

.header_cart {
	width: 190px;
}

.header_cart .header_cart_auth svg {
	width: 20px;
	height: 20px;
}

/* FOOTER */
.footer {
	background: #444;
	display: flex;
	color: #888888;
	padding: 30px;
}

.footer_copies {
	width: 40%;
}
.footer_stat {
	width: 40%;
}